{
  "presets": ["react", "env"],
  "env": {
    "server": {
      "plugins": [
        [
          "css-modules-transform", {
            "preprocessCss": "./lib/sass-loader.js",
            "generateScopedName": "[hash:8]",
            "extensions": [".scss"]
          }
        ]
      ]
    }
  }
}
