{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "es6": true,
  },
  "rules": {
    "strict": 0,
    "object-curly-spacing": 1,
    "linebreak-style": ["error", "windows"],
    "max-len": 0,
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "no-console": 1,
    "no-use-before-define": 0,
    "eqeqeq": 1,
    "no-shadow": 1,
    "prefer-template": 1,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/no-static-element-interactions": 1,
    "react/jsx-boolean-value": 1,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/first": 1,
    "import/no-named-as-default": 1,
    "react/no-array-index-key": 1,
    "no-param-reassign": 1,
    "no-nested-ternary": 1,
    "react/no-find-dom-node": 1,
    "no-confusing-arrow": 1,
    "camelcase": 1,
    "jsx-a11y/label-has-for": 1,
    "react/sort-comp": 1,
    "import/prefer-default-export": 1,
    "indent": ["error", 2],
    "no-eval": 1,
    "no-cond-assign": 1,
    "consistent-return": 1,
    "no-loop-func": 1,
    "array-callback-return": 1,
    "prefer-spread": 1,
    "no-plusplus": 1,
    "no-mixed-operators": ["error", {"allowSamePrecedence": true}],
    "arrow-body-style": 1
  }
}
